NEXT_PUBLIC_SUPABASE_URL=https://ggijedjiofrurnwqosxz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdnaWplZGppb2ZydXJud3Fvc3h6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Njk5NDYsImV4cCI6MjA4OTE0NTk0Nn0.LLcmeEwFi6B2f4-I-kKbdRsg-g_rW7bCXRcdCk7myHI
OPENROUTER_API_KEY=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
PEXELS_API_KEY=2aZCjf4y50Oi3cDH1AfhCiGbZHlAR5jBVu88EKQwl5D55VfS8PiIKjMC
PIXABAY_API_KEY=55035301-cc9b4951ac0d2d487c9c6a18f